.mw  { max-width: 64rem; }
.mw-copy { max-width: 42rem; }

@media (--breakpoint-medium) {
  .mw-m  { max-width: 64rem; }
  .mw-copy-m { max-width: 42rem; }
}

@media (--breakpoint-large) {
  .mw-l  { max-width: 64rem; }
  .mw-copy-l { max-width: 42rem; }
}
