:root {
  --negative-margins: 4, 8, 12
}

@each $negative-margin in var(--negative-margins) {
  .na$(negative-margin) { margin: -$(negative-margin)px; }
  .nl$(negative-margin) { margin-left: -$(negative-margin)px; }
  .nr$(negative-margin) { margin-right: -$(negative-margin)px; }
  .nb$(negative-margin) { margin-bottom: -$(negative-margin)px; }
  .nt$(negative-margin) { margin-top: -$(negative-margin)px; }
}

@media (--breakpoint-not-small) {
  @each $negative-margin in var(--negative-margins) {
    .na$(negative-margin)-ns { margin: -$(negative-margin)px; }
    .nl$(negative-margin)-ns { margin-left: -$(negative-margin)px; }
    .nr$(negative-margin)-ns { margin-right: -$(negative-margin)px; }
    .nb$(negative-margin)-ns { margin-bottom: -$(negative-margin)px; }
    .nt$(negative-margin)-ns { margin-top: -$(negative-margin)px; }
  }
}

@media (--breakpoint-medium) {
  @each $negative-margin in var(--negative-margins) {
    .na$(negative-margin)-m { margin: -$(negative-margin)px; }
    .nl$(negative-margin)-m { margin-left: -$(negative-margin)px; }
    .nr$(negative-margin)-m { margin-right: -$(negative-margin)px; }
    .nb$(negative-margin)-m { margin-bottom: -$(negative-margin)px; }
    .nt$(negative-margin)-m { margin-top: -$(negative-margin)px; }
  }
}

@media (--breakpoint-large) {
  @each $negative-margin in var(--negative-margins) {
    .na$(negative-margin)-l { margin: -$(negative-margin)px; }
    .nl$(negative-margin)-l { margin-left: -$(negative-margin)px; }
    .nr$(negative-margin)-l { margin-right: -$(negative-margin)px; }
    .nb$(negative-margin)-l { margin-bottom: -$(negative-margin)px; }
    .nt$(negative-margin)-l { margin-top: -$(negative-margin)px; }
  }
}
