/*

   SKINS
   Docs: http://tachyons.io/docs/themes/skins/

   Classes for setting foreground and background colors on elements.
   If you haven't declared a border color, but set border on an element, it will
   be set to the current text color.

*/

/* Text colors */

.black { color: var(--black); }
.dark-gray { color: var(--dark-gray); }
.gray { color: var(--gray); }
.silver { color: var(--silver); }
.near-white { color: var(--near-white);  }
.white { color: var(--white); }
.blue { color: var(--blue); }

.linkedin-blue { color: var(--linkedin-blue); }
.product-hunt-orange { color: var(--product-hunt-orange); }
.twitter-blue { color: var(--twitter-blue); }

/* Background-color colors */

.bg-black { background-color: var(--black); }
.bg-silver { background-color: var(--silver); }
.bg-near-white { background-color: var(--near-white);  }
.bg-white { background-color: var(--white); }
.bg-blue { background-color: var(--blue); }

.bg-react-black { background: var(--react-black);  }
.bg-node-gray { background: var(--node-gray);  }
.bg-postgres-blue { background: var(--postgres-blue);  }
.bg-vue-green { background: var(--vue-green);  }

.bg-gradient-golang { background: var(--gradient-golang);  }
.bg-gradient-ruby { background: var(--gradient-ruby);  }
.bg-gradient-swift { background: var(--gradient-swift);  }
.bg-gradient-sketch { background: var(--gradient-sketch);  }