:root {
  --spacings: 0, 2, 4, 8, 12, 16, 20, 24, 32, 48, 64
}

@each $spacing in var(--spacings) {
  .pa$(spacing) { padding: $(spacing)px; }
  .pl$(spacing) { padding-left: $(spacing)px; }
  .pr$(spacing) { padding-right: $(spacing)px; }
  .pb$(spacing) { padding-bottom: $(spacing)px; }
  .pt$(spacing) { padding-top: $(spacing)px; }
  .pv$(spacing) {
    padding-top: $(spacing)px;
    padding-bottom: $(spacing)px;
  }
  .ph$(spacing) {
    padding-left: $(spacing)px;
    padding-right: $(spacing)px;
  }

  .ma$(spacing) { margin: $(spacing)px; }
  .ml$(spacing) { margin-left: $(spacing)px; }
  .mr$(spacing) { margin-right: $(spacing)px; }
  .mb$(spacing) { margin-bottom: $(spacing)px; }
  .mt$(spacing) { margin-top: $(spacing)px; }
  .mv$(spacing) {
    margin-top: $(spacing)px;
    margin-bottom: $(spacing)px;
  }
  .mh$(spacing) {
    margin-left: $(spacing)px;
    margin-right: $(spacing)px;
  }
}

@media (--breakpoint-not-small) {
  @each $spacing in var(--spacings) {
    .pa$(spacing)-ns { padding: $(spacing)px; }
    .pl$(spacing)-ns { padding-left: $(spacing)px; }
    .pr$(spacing)-ns { padding-right: $(spacing)px; }
    .pb$(spacing)-ns { padding-bottom: $(spacing)px; }
    .pt$(spacing)-ns { padding-top: $(spacing)px; }
    .pv$(spacing)-ns {
      padding-top: $(spacing)px;
      padding-bottom: $(spacing)px;
    }
    .ph$(spacing)-ns {
      padding-left: $(spacing)px;
      padding-right: $(spacing)px;
    }

    .ma$(spacing)-ns { margin: $(spacing)px; }
    .ml$(spacing)-ns { margin-left: $(spacing)px; }
    .mr$(spacing)-ns { margin-right: $(spacing)px; }
    .mb$(spacing)-ns { margin-bottom: $(spacing)px; }
    .mt$(spacing)-ns { margin-top: $(spacing)px; }
    .mv$(spacing)-ns {
      margin-top: $(spacing)px;
      margin-bottom: $(spacing)px;
    }
    .mh$(spacing)-ns {
      margin-left: $(spacing)px;
      margin-right: $(spacing)px;
    }
  }
}

@media (--breakpoint-medium) {
  @each $spacing in var(--spacings) {
    .pa$(spacing)-m { padding: $(spacing)px; }
    .pl$(spacing)-m { padding-left: $(spacing)px; }
    .pr$(spacing)-m { padding-right: $(spacing)px; }
    .pb$(spacing)-m { padding-bottom: $(spacing)px; }
    .pt$(spacing)-m { padding-top: $(spacing)px; }
    .pv$(spacing)-m {
      padding-top: $(spacing)px;
      padding-bottom: $(spacing)px;
    }
    .ph$(spacing)-m {
      padding-left: $(spacing)px;
      padding-right: $(spacing)px;
    }

    .ma$(spacing)-m { margin: $(spacing)px; }
    .ml$(spacing)-m { margin-left: $(spacing)px; }
    .mr$(spacing)-m { margin-right: $(spacing)px; }
    .mb$(spacing)-m { margin-bottom: $(spacing)px; }
    .mt$(spacing)-m { margin-top: $(spacing)px; }
    .mv$(spacing)-m {
      margin-top: $(spacing)px;
      margin-bottom: $(spacing)px;
    }
    .mh$(spacing)-m {
      margin-left: $(spacing)px;
      margin-right: $(spacing)px;
    }
  }
}

@media (--breakpoint-large) {
  @each $spacing in var(--spacings) {
    .pa$(spacing)-l { padding: $(spacing)px; }
    .pl$(spacing)-l { padding-left: $(spacing)px; }
    .pr$(spacing)-l { padding-right: $(spacing)px; }
    .pb$(spacing)-l { padding-bottom: $(spacing)px; }
    .pt$(spacing)-l { padding-top: $(spacing)px; }
    .pv$(spacing)-l {
      padding-top: $(spacing)px;
      padding-bottom: $(spacing)px;
    }
    .ph$(spacing)-l {
      padding-left: $(spacing)px;
      padding-right: $(spacing)px;
    }

    .ma$(spacing)-l { margin: $(spacing)px; }
    .ml$(spacing)-l { margin-left: $(spacing)px; }
    .mr$(spacing)-l { margin-right: $(spacing)px; }
    .mb$(spacing)-l { margin-bottom: $(spacing)px; }
    .mt$(spacing)-l { margin-top: $(spacing)px; }
    .mv$(spacing)-l {
      margin-top: $(spacing)px;
      margin-bottom: $(spacing)px;
    }
    .mh$(spacing)-l {
      margin-left: $(spacing)px;
      margin-right: $(spacing)px;
    }
  }
}
