:root {
  --font-sizes: 11, 12, 13, 14, 15, 16, 17, 18, 21, 24, 32, 48;
}

.f0 { font-size: 0;  }

@each $size in var(--font-sizes) {
  .f$(size) { font-size: $(size)px; }
}


@media (--breakpoint-not-small) {
  @each $size in var(--font-sizes) {
    .f$(size)-ns { font-size: $(size)px; }
  }
}

@media (--breakpoint-medium) {
  @each $size in var(--font-sizes) {
    .f$(size)-m { font-size: $(size)px; }
  }
}

@media (--breakpoint-large) {
  @each $size in var(--font-sizes) {
    .f$(size)-l { font-size: $(size)px; }
  }
}
